{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CameraShop/css/style.css' %}">
    <script src="{% static 'CameraShop/js/script.js' %}"></script>
</head>

<body>
{#{% if a and list_random %}#}
{#    {% for foo in list_random %}#}
{#        <h1 class="main_body">{{ a }}__{{ foo }}</h1>#}
{#    {% endfor %}#}
{#{% endif %}#}
<div class="header">
    <div class="menu">
        <p>QTH</p>
        <div class="menu-item">
            <img src="{% static 'CameraShop/img/home/camera.png' %}">
        </div>
        <div class="menu-item">
            <img src="{% static 'CameraShop/img/home/camera-lens.png' %}">
        </div>
        <div class="menu-item">
            <img src="{% static 'CameraShop/img/home/sale.png' %}">
        </div>
        <div class="menu-item">
            <img src="{% static 'CameraShop/img/home/news.png' %}">
        </div>
        <div class="menu-item">
            <div class="menu-item-img">
                <img src="{% static 'CameraShop/img/home/search.png' %}">
            </div>
            <div class="menu-item-img">
                <img src="{% static 'CameraShop/img/home/user.png' %}">
            </div>
        </div>
    </div>
</div>
<div class="slider">
    <div class="title">
        <div class="title-item-empty">
        </div>
        <div class="title-item">
            <p>Máy ảnh</p>
        </div>
        <div class="title-item">
            <p>Ống kính</p>
        </div>
        <div class="title-item">
            <p>Khuyến mãi</p>
        </div>
        <div class="title-item">
            <p>Tin tức</p>
        </div>
    </div>
    <div class="slider-item">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="{% static 'CameraShop/img/home/sale.png' %}">
            </div>

            <div class="mySlides fade">
                <img src="{% static 'CameraShop/img/home/user.png' %}">
            </div>

            <div class="mySlides fade">
                <img src="{% static 'CameraShop/img/home/news.png' %}">
            </div>
        </div>
        <br>
        <div class="dot">
            <span class="dot-item" onclick="currentSlide(1)"></span>
            <span class="dot-item" onclick="currentSlide(2)"></span>
            <span class="dot-item" onclick="currentSlide(3)"></span>
        </div>
    </div>
</div>
<div class="sale">

</div>
<!-- Slideshow container -->

</body>
</html>